body{
    margin: 0;
    padding: 0;
}

.half-item{
    width: 50%;
}


.top-header{
    padding-left: 13px;
    border-left: 3px solid;
    border-image: linear-gradient(#FF5959, #FFAD5A);
    border-image-slice: 1;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.top-header h1{
    line-height: 80px;
    color: #333333;
    margin: 0;
    font-size: 60px;
    font-family: 'Yeseva One', cursive; 
    font-weight: 400;
}

.highlight-header{
    color: #ec73d0;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Yeseva One', cursive;

}

.highlight-color{
    color: #ec73d0;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.header h1{
    color: #13103A;
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

/*=====================
    common css ends 
======================*/


.banner-part{
    display: flex;
    margin-left: 158px;
    margin-top: 120px;
}

.banner-text p{
    color: #3E3E3E;
    margin: 20px 0;
    padding-right: 350px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.button{
    text-decoration: none;
    display: inline-block;
    padding: 12px 25px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient( #ec73d0, #948dea);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button:hover{
    background-image: linear-gradient(45deg, #948dea, #ec73d0);
}


.banner-text small{
    display: block;
    color: #434343;
    margin-top: 33px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}

.banner-image{
    position: relative;
    width: 520px;
    height: 520px;
}
.banner-image .image{
    position: absolute;
    top: -180px;
}

.banner-image img{
    width: 100%;
}

/*=====================
    banner css ends 
======================*/


.mission-container .item{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 156px;
    margin-right: 156px;
    width: 450px;
    height: 430px;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
}

.image-item{
    width: 141px;
    height: 141px;
    padding-top: 25px;
    padding-left: 10px;
}
.item .text-item{
    padding-left: 24px;
    padding-right: 54px;
}
.text-item h1{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}

.text-item p{
    color: #424242;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: justify;

}


.image-item img{
    width: 100%;
}

.mission{
    background: #4F9DA61A;
}
.vission{
    background: #FF59591A;
}
.goals{
    background: #FFF4D6;
}

/*=====================
    missions css ends 
======================*/


.develop-container{
    display: flex;
    padding-top: 85px;
}

.develop-container .image{
    margin: 0 72px 100px 158px;
    width: 960px;
    height: 720px;
}


.develop-container .image img{
    width: 100%;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
}

.develop-container .text{
    padding-top: 45px;
} 

.text h1{
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.text p{
    color: #3E3E3E;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 25%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

/*=====================
    develop part css ends 
======================*/


.community-container{
    display: flex;
}

.community-container .image{
    margin-right: 157px;
    width: 960px;
    height: 720px;
}

.community-container .image img{
    width: 100%;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
}

.community-container .text{
    padding-top: 45px;
    margin-left: 158px;

}

/*=====================
    community part css ends 
======================*/

